section.getStarted{
    padding: 5%;
}

.getStarted-container{
    max-width: 1400px;
}

.getStarted-content h3{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0px;
    text-align: left;
} 
.getStarted-content p{
    font-family: Poppins;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
}
.getStarted-content button{
    padding: 0.5rem 2rem;
    background: var(--Blue300);
    border-radius: 5px;
    margin: 1rem 0;
    transition: all 0.3S;
}
.getStarted-content button:hover{
    background: var(--Blue400);
}
.getStarted-img img{
    width: 100%;
}




@media only screen and (max-width: 1024px) {

.getStarted-content h3 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.getStarted-content p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.getStarted-content button{
    font-size: 12px;
    margin: 0.5rem 0;
}

}



@media only screen and (min-width: 2224px) {

    .getStarted-container {
        max-width: 1900px;
    }

    .getStarted-content h3 {
        font-family: Poppins;
        font-size: 70px;
        font-weight: 700;
        line-height: 90px;
    }

    .getStarted-content p {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 400;
        line-height: 40px;

    }

    .getStarted-content button {
        padding: 0.8rem 2rem;
        background: var(--Blue300);
        font-size: 22px;
    }

}