.signInBG{
    min-height: 100vh;
    background: linear-gradient(190deg, rgba(32,32,32,1) 40%, rgb(67, 118, 167) 100%);
}
.signInLogo{
    width: 12.1875rem;
    height: 5.375rem;
}
.signinContent h2 ,.signinContent span{
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-weight: 700;
}
.signinContent p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.signinContent{
    padding-left: 2rem;
}
.loginBtn{
    padding: 0.3rem 1.3rem !important;
}
.formElements h3{
    font-size: 2.0625rem;
    line-height: 3.09375rem;
    font-weight: 700;
}

.formBGSignIn{
    background: linear-gradient(265deg, rgb(23, 37, 49) 20%, rgb(48, 73, 97) 100%);
}

@media only screen and (max-width: 676px){
    .signInLogo{
        width: 8.4375rem;
        height: 3.75rem;
    }
    .signinContent h2 ,.signinContent span{
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 700;
    }
    .formElements h3{
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 700;
    }
    .formBGSignIn{
        background: linear-gradient(203deg, rgb(44, 71, 95) 20%, rgb(66, 125, 180) 100%);
    }
    .formElements p{
        font-size: 0.875rem;
        line-height: 1.3125rem;
        font-weight: 400;
    }
}