.signInBG{
    min-height: 100vh;
    background: linear-gradient(190deg, rgba(32,32,32,1) 40%, rgb(67, 118, 167) 100%);
}
.signInLogo{
    width: clamp(135px, calc(11vw + 0.5rem), 500px);
    height: clamp(60px, calc(5vw + 0.5rem), 200px);
}
.signinContent h2 ,.signinContent span{
    font-size: clamp(24px, calc(2vw + 0.5rem), 100px);
    line-height: 3.75rem;
    font-weight: 700;
}
.signinContent p{
    font-size: clamp(10px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.8rem;
    font-weight: 400;
}
.signinContent{
    padding-left: clamp(10px, calc( 0.5vw + 0.5rem), 60px);
}
.formLabelsAndInputs{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.loginBtn{
    padding: 8px 32px !important;
    font-size: clamp(10px, calc( 0.5vw + 0.5rem), 60px) !important;
}
.formElements h3{
    font-size: clamp(20px, calc(1.5vw + 0.5rem), 80px);
    line-height: 3.09375rem;
    font-weight: 700;
}

.formBGSignIn{
    background: linear-gradient(265deg, rgb(23, 37, 49) 20%, rgb(48, 73, 97) 100%);
}

@media only screen and (max-width: 676px){
    .signinContent h2 ,.signinContent span{
        line-height: 2.25rem;
        font-weight: 700;
    }
    .formElements h3{
        line-height: 1.875rem;
        font-weight: 700;
    }
    .formBGSignIn{
        background: linear-gradient(203deg, rgb(44, 71, 95) 20%, rgb(66, 125, 180) 100%);
    }
    .formElements p{
        line-height: 1.3125rem;
        font-weight: 400;
    }
}