.sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 220px;
  height: 100vh;
  background-color: #0f0f0f;
  box-shadow: 10px 4px 21.100000381469727px 0px #00000061;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
  animation-name: animateOnOpen;
  animation-delay: 0.6s;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  overflow: hidden;

}

.sideMenuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100px;
  padding: 2rem 2.5rem 1rem;
  margin-bottom: 1rem;
  transition: all 0.6s;
}



.logo img {
  width: 100%;
  transition: all 0.6s;
}

.menu {
  list-style: none;
  padding: 0 1rem;
  margin: auto;
  max-height: 70vh;
  overflow: auto;
  transition: all 0.6s;
}

.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;

}

.menu::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #424242;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.6s;
}

.menu svg {
  width: 25px;
  fill: #fff;
  margin-right: 0.6rem;
  transition: all 0.6s;
}

.menu svg path {
  fill: #fff;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  transition: all 0.1s;
}



.menu li a:hover p {
  color: #53ACFF;
}

.menu li a:hover svg {
  fill: #53ACFF;
}

.menu li a:hover svg path {
  fill: #53ACFF;
}

.menu li.comingSoon a {
  cursor: not-allowed;
}

.menu li.comingSoon a p {
  color: #FFFFFF4D;
}

.menu li.comingSoon svg {
  fill: #FFFFFF4D;
}

.menu li.comingSoon a:hover svg {
  fill: #FFFFFF4D;
}

.menu li.comingSoon a:hover svg path {
  fill: #FFFFFF4D;
}

.menu li.comingSoon svg path {
  fill: #FFFFFF4D;
}

.menu li a p {
  position: unset;
  left: unset;
  opacity: 1;
  transition: all 0.6s;
}

.userInfoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.userInfoContent img {
  width: 45px;
  height: 45px;
  margin-right: 0.5rem;
  transition: all 0.6s;
}

.userInfoContent h6 {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0.1rem;
  color: #fff;
  position: static;
  left: unset;
  opacity: 1;
  transition: all 0.6s;
}

.userInfoContent p {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #979797;
  position: static;
  left: unset;
  opacity: 1;
  transition: all 0.6s;
}

.userInfo>p {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 1rem;
  position: unset;
  left: unset;
  opacity: 1;
  transition: all 0.6s;
}



/* ======================================= */


.sideMenu.onClose {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  width: 100px;
  height: 100vh;
  animation-name: animateOnClose;
  animation-delay: 0.6s;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.onClose .logo {
  padding: 2rem 1rem 1rem;
}

.onClose .logo img {
  width: 100%;
}

.onClose .menu {
  list-style: none;
  padding: 0 1rem;
  margin: auto;

}

.onClose .menu li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.onClose .menu li a p {
  position: absolute;
  left: -200px;
  opacity: 0;

}

.onClose .menu li a img {
  width: 30px;
  margin-right: 0rem;
}

.onClose .userInfoContent img {
  width: 55px;
  height: 55px;
  margin-right: 0rem;
}

.onClose .userInfoContent h6 {
  position: absolute;
  left: -200px;
  opacity: 0;
}

.onClose .userInfoContent p {
  position: absolute;
  left: -200px;
  opacity: 0;
}

.onClose .userInfo>p {
  position: absolute;
  left: -200px;
  opacity: 0;
}



@keyframes animateOnOpen {
  0% {
    width: 220px;
  }

  50% {
    width: 215px;
  }

  100% {
    width: 220px;
  }
}

@keyframes animateOnClose {
  0% {
    width: 100px;
  }

  50% {
    width: 95px;
  }

  100% {
    width: 100px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 850px) {
  .logo {
    height: 80px;
  }

  .sideMenu.onClose {
    width: 60px;
  }

  .sideMenu.onClose .logo img {
    width: 45px;
  }

  .menu {
    padding: 0 0rem;
  }

  .onClose .menu li a img {
    width: 20px;
    margin-right: 0rem;
  }

  .onClose .userInfoContent img {
    width: 35px;
    height: 35px;
  }

  @keyframes animateOnClose {
    0% {
      width: 60px;
    }

    50% {
      width: 55px;
    }

    100% {
      width: 60px;
    }
  }
}