.time span{
    color: #53ACFF;
    font-size: 13px;
    line-height: 16.38px;
    font-weight: 400;
}
.grayOne{
    color:#979797 !important  ;
}

@media only screen and (max-width: 676px){
    .time span ,.grayOne{
        font-size: 10px;
        line-height: 12.6px;
        font-weight: 400;
    }

}