.time span{
    color: #53ACFF;
    font-size: 0.8rem;
    line-height: 1.022rem;
    font-weight: 400;
}
.grayOne{
    color:#979797 !important  ;
}

@media only screen and (max-width: 676px){
    .time span ,.grayOne{
        font-size: 0.625rem;
        line-height: 0.7875rem;
        font-weight: 400;
    }
}