.ourName h1{
    font-size: 4rem;
    line-height: 5.9rem;
    font-weight: 700;

}
.descParagraph p{
    font-size: 0.875rem ;
    line-height: 1.442rem;
    font-weight: 400;

}
.winnerAndLoserBorder::before{
    content: "";
    background-image: conic-gradient(transparent 0deg ,#53acff 120deg,transparent 220deg );
    width: 250%;
    height: 250%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(270deg);
    box-sizing: border-box;
    position: absolute;
    transition:all 0.5s
  }
  .winnerAndLoserBorder:hover::before{
    transform:translate(-50%,-50%) rotate(0deg);
  }

  @media only screen and (max-width: 676px){
    .ourName h1{
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 700;

    }
    .descParagraph p{
        font-size: 0.625rem;
        line-height: 0.94rem;
        font-weight: 400;
    
    }
    
  }