.positionsList{
    list-style-type: disc;
    padding-left: 1.5rem;
}
.positionsList li{
    font-size:clamp(10px, calc(0.6vw + 0.5rem), 60px);
    line-height: 1.78rem;
    font-weight: 400;
}
.headOfRightDiv{
    font-size:2.5rem ;
    font-weight:600 ;
    line-height: 3.75rem;
}
.txtAlone p,.txtAlone span{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight:400 ;
}
.headAndUl h3{
    font-size: 1.44rem;
    line-height: 2.156rem;
    font-weight: 700;
}

.everyPosition{
    background-color: #202020;
}
.positionRightPart h3{
    font-size: 2.0625rem;
    line-height: 3.09rem;
    font-family: 700;

}
.headOfPage h1{
    font-size: 4rem;
    line-height: 5.9rem;
    font-weight: 700;
}
.headOfPage p{
    font-size: 1.44rem;
    line-height: 2.156rem;
    font-weight: 400;
}
.fileBtn{
    background-color: transparent;
    border: 1px solid white ;
    padding: 7px 4rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.applyBtn{
    padding: 0.6rem 3rem !important;
    font-size: 1rem;
    line-height:1.2rem;
    font-weight: 600;
    text-transform: none !important;

}

.MuiAccordionSummary-button  span{
    display: none;
}

.MuiAccordionSummary-root button {
    color: #FFFFFF;
    padding: 1.5rem 8rem ;
    border-radius: 0.6rem;
}
.MuiAccordion-variantPlain{
    padding: 0 !important;
    margin: 0 !important;
}
.bgPositionCard{
    background-color:#202020 ;
}
.MuiAccordionSummary-root button:hover{
    background-color: transparent !important;
    color: #FFFFFF !important;
}
.grayPositionBorder::before{
    content: "";
    background-image: conic-gradient(transparent 0deg ,#ffff 180deg,transparent 280deg );
    width: 250%;
    height: 250%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(180deg);
    box-sizing: border-box;
    position: absolute;
    transition:all 0.5s
}
.selectFile label{
    font-size: 0.875rem ;
    line-height:1.05rem ;
    font-weight:600 ;
}
.accordionDetails{
    padding: 0 3rem;
}
.MuiAccordionSummary-root {
    transition: 0.5s;
}


@media only screen and (max-width: 676px) {
    .headOfPage h1,.headOfRightDiv,.positionRightPart h3{
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 700;

    }
    .headOfPage p{
        font-size: 0.75rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .txtAlone p,.txtAlone span,.positionsList li{
        font-size: 0.625rem;
        line-height: 0.94rem;
        font-weight: 400;
    }
    .headAndUl h3{
        font-size: 0.875rem ;
        line-height: 21px;
        font-weight: 700;
    }
    .selectFile label,.applyBtn{
        font-size: 0.75rem;
        line-height:0.9rem ;
        font-weight:600 ;
    }
    .accordionDetails{
        padding: 0;
    }
    .MuiAccordionSummary-root button{
        padding: 0.8rem 2rem;
    }
    .bottomBorderInSm{
        border-bottom:1px solid #979797 ;
    }
    .fileBtn{
        padding: 7px 3rem;
    }
    .applyBtn{
        padding: 0.2rem 1.5rem !important;
        text-transform: none !important;
    }

    
}

/*
16px=> clamp(10px, calc( 0.4vw + 0.5rem), 60px);
19px=> clamp(10px, calc(0.6vw + 0.5rem), 60px);
23px=> clamp(12px, calc( 0.8vw + 0.5rem ) , 70px);
30px=> clamp(30px, calc(2.5vw + 0.5rem), 80px);
48px=> clamp(22px, calc(3.1vw + 0.5rem),140px);
40px=> clamp(24px, calc(3.1vw + 0.5rem),90px); */