section.hero {
    width: 100%;
    padding: 10% 1rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-image: url("../../../assets/hero-bg-shadow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

section.hero h1 {
    font-size: clamp(24px , calc(2vw + 1rem) , 140px);
    font-weight: 800;
    text-align: center;
    line-height: normal;
}

section.hero img {
    max-width: fit-content;
    width: 100%;
}

section.hero h1>span {
    background-color: var(--Blue300);
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

section.hero p {
    font-size: clamp(12px,  calc(0.4vw + 0.5rem ), 60px);
    margin: 1rem 1.5rem;
    text-align: center;
    max-width: clamp(400px, calc( 39vw + 1rem ) , 1500px);
    margin: auto;
}

section.hero a {
    outline: none;
    color: #fff;
    border: none;
    padding: 0.4rem 2rem 0.5rem;
    background-color: var(--Blue300);
    border: 1px solid var(--Blue300);
    border-radius: 4px;
    font-size: clamp(12px,  calc(0.4vw + 0.5rem ), 60px);
    font-weight: 500;
    margin: auto;
    transition: all 0.3s;
}

section.hero a:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

@media only screen and (max-width: 1024px) {
    section.hero {
        width: 100%;
        padding: 10vh 10%;
        gap: 0.6rem;
        align-items: start;
    }

    section.hero h1 {
        margin-bottom: 1rem;
        text-align: left;
    }

    section.hero p {
        display: none;
        text-align: left;
        max-width: clamp(300px, calc( 49vw + 1rem ) , 1500px);
        margin: 0 auto 0 0 ;
    }

    section.hero a {
        padding: 0.4rem 1.5rem 0.4rem;
        margin: 0 auto 0 0;
    }
}

/* 

@media only screen and (min-width: 2224px) {

    section.hero {
        width: 100%;
        padding: 14rem 14rem 0;
    }

    section.hero h1 {
        font-size: 78px;
        font-weight: 800;
        text-align: center;
        line-height: 124px;
    }

    section.hero p {
        font-size: 25px;
        text-align: center;
        max-width: 800px;
        margin: auto;
    }

    section.hero button {
        font-size: 26px;
    }

} */