.Signuplayout{
    background: linear-gradient(190deg, rgba(32,32,32,1) 40%, rgba(47, 83, 117,1) 100%);
    min-height: 100vh;
    align-items: center;
    padding: clamp(10px, calc( 0.5vw + 0.1rem), 60px) clamp(10px, calc( 0.3vw + 0.5rem), 60px);
}

.desc{
    display: flex;
    align-items: center;
}

.logoDiv{
    margin-left:-2rem;
}

.imgDiv{
    width: clamp(135px, calc(24vw + 0.1rem),250px);
    height: clamp(60px, calc(11vw + 0.1rem),140px);
}

.content h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size:  clamp(24px, calc(2vw + 0.1rem),140px);
  font-style: normal;
  padding: 2rem 0;
}

.content p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(12px, calc( 0.9vw + 0.1rem), 60px);
}

.content span{
    font-size: clamp(24px, calc(2vw + 0.1rem),90px);
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.inForm h3{
    font-size: clamp(24px, calc(1.8vw + 0.1rem), 80px);
}

.inForm p{
    font-size: clamp(24px, calc(1vw + 0.1rem), 80px);
}

.formBGSignup{
    background: linear-gradient(265deg, rgb(23, 37, 49) 20%, rgb(48, 73, 97) 100%);
    padding-top:clamp(56px, calc(5.8vw + 0.1rem),140px) ; 
    padding-bottom:clamp(56px, calc(3.7vw + 0.1rem),140px) ;
}

@media only screen and (max-width: 676px) {
    .content h3,.content span{

       line-height: 2.25rem;
     }
     .content p{
  
        line-height: 1.125rem;
     }
     .imgDiv{
        width: 8.44rem;
        height: 3.75rem;
     }
     .formBGSignup{
        padding: 56px 16px;
     }


}