.desc{
    display: flex;
    align-items: center;
}
.logoDiv{
    margin-left:-2rem;
}
.content h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size:  clamp(24px, calc(2vw + 0.5rem),140px);
  font-style: normal;
  padding: 2rem 0;
}

.content p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content span{
    font-size: clamp(24px, calc(2vw + 0.5rem),90px);
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.inForm h3{
    font-size: clamp(24px, calc(1.6vw + 0.5rem), 80px)
}

.inForm p{
    font-size: clamp(14px, calc(0.9vw + 0.5rem), 60px);
}
/* 
.btnColor{
    background-color: #53ACFF;
    padding: 0.6rem 2rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    margin: 0.4rem 0;
    transition: 0.5s;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.btnContainer{
    display: flex;
    justify-content: center;
    padding-top:4rem
}
.btnColor:hover{
    background: linear-gradient(4deg, rgba(13,1,1,0.5) 33%, rgba(83,172,255,0.3) 100%);
} */
.formBGSignup{
    background: linear-gradient(265deg, rgb(23, 37, 49) 20%, rgb(48, 73, 97) 100%);
}

@media only screen and (max-width: 676px) {
    .content h3,.content span{

       line-height: 2.25rem;
     }
     .content p{
  
        line-height: 1.125rem;
     }
     .imgDiv{
        width: 8.44rem;
        height: 3.75rem;
     }


}