.brokersHeader h1{
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}
.brokersHeader{
    margin-bottom: 10rem !important;
}

.rightPrt h4{
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}
.rightPrt{
    display: flex;
    flex-direction: column;
    gap:5rem
}
.textSection{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.brokerBG{
    background: linear-gradient(150deg, rgba(32,32,32,1) 15%, rgba(47, 83, 117,1) 100%);
}