

.forBG{
    background-position:center ;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.contactBg{
    background-image: url("../../assets/background.svg");
}
.forbtn{
    border-radius: 0.2rem;
    background-color: #53ACFF !important;
    color: #ffff !important;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.05rem;
}
.forbtn:hover{
    background: linear-gradient(4deg, rgba(13,1,1,0.5) 33%, rgba(83,172,255,0.3) 100%);
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 4rem;
}
.contactWays{
    display: flex;
    align-items: center;

}
.containContactWays{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.descPart h1, .descPart h5 , .descPart h3 , .descPart h4 , .formContent h3{
    font-weight: 700;
}
.descPart h5 , .descPart p ,.descPart span{
    size:1rem;
    line-height: 1.5rem;
}
.descPart h1{
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 0;
}
.descPart p{
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.descPart h3{
    font-size: 2.06rem;
    line-height: 3.09rem;
    padding-bottom: 1.5rem;
}
.descPart h4{
    font-size:1.4rem ;
    line-height:2.16rem ;
}
.formBGMsg{
    background: linear-gradient(265deg, rgb(40, 62, 80) 20%, rgba(111, 162, 211, 0.6) 100%);
}
.formContent h3{
    font-size: 33;
    line-height: 49.5;
}

@media only screen and (max-width: 676px){
    .descPart h5{
        font-size: 10px;
        line-height: 15px;
    }
    .descPart h1{
        font-size: 24px;
        line-height: 36px;
    }
    .descPart p, .descPart span{
        font-size: 12px;
        line-height: 18px;
    }
    .forbtn{
        font-size: 12px;
        line-height: 14.4px;
    }
    .descPart h3{
        font-size: 20px;
        line-height: 30px;
    }
    .descPart h4{
        font-size: 14px;
        line-height: 21px;
    }
}