.LeftBorder{
    border-left: 4px solid #53ACFF;
    padding: 0 0.5rem;
    border-radius: 0.2rem ;
}
.linksSection a{
    color: white !important;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.LeftBorder h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
}
.loginPerson h6{
    font-size: 0.94rem;
    line-height: 22.5px;
    font-weight: 700;

}
.loginPerson p{
    color: #979797;
    font-size:0.8rem ;
    font-weight: 600;
    line-height:1.22rem ;

}
.settingBtn{
    border-radius: 0.2rem;
    font-size:0.75rem;
    font-weight: 600;
    line-height: 0.9rem;
    text-transform: none !important;
    padding: 0.5rem 1rem !important;
}
.changesBtn{
    color: #ffff !important;
    background-color: #53ACFF !important;
}
.disconnectBtn{
    color:#979797 !important ;
    border:1px solid #979797 !important;
    background-color: transparent !important;

}
.avatarTxt p{
    font-size: 0.625rem;
    line-height: 1.125rem;
    font-weight: 400;
}
.largeDiv{
    border-radius: 0.5rem;
    background-color: #181818;
}
.forborderRaduis{
    border-radius: 0.5rem;
    background-color: #282828;
}

.labelColor label{
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.024rem;
    font-weight: 400;
}
.react-international-phone-input-container input , .react-international-phone-input-container button{
    width: 100%;
    background-color: #2E2E2E !important;
    border: 1px solid #979797;
    border-radius: 0.2rem;
    color: white !important;
}
.react-international-phone-country-selector-dropdown__list-item span{
    color: black !important;
}
.everyInput{
    border:1px solid #979797;
    border-radius:0.2rem;
    background-color:#2E2E2E;
}
.optionAndDesc span{
    color: #979797;
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: 400;
}
.accountBilling h5{
    font-size: 1.56rem;
    line-height:1.73rem;
    font-weight: 600;
}
.accountBilling p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.accountBilling h4{
    font-size: 1.44rem;
    line-height: 2.156rem;
    font-weight: 700;
}
.accountBilling h1{
    font-size: 4rem;
    line-height: 5.9rem;
    font-weight: 700;
}
.accountBilling h6{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.premuimDiv{
    border-radius: 0.8rem;
    background: linear-gradient(315deg, rgb(32, 44, 54) 34%, rgb(52, 84, 114)) ;

}
.rightSecAccount h5{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.tableSection{
    background-image: radial-gradient(circle, rgba(120,120,120,1) 26%, rgba(60,60,60,1) 56%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.itemsBG li{
    text-align: center;
    background-color: #2E2E2E;
    padding: 0.6rem 0.2rem;
}
.tableHead {
    padding: 0.6rem 0;
    background-color: #2E2E2E;
    box-shadow: 0px -20px 10px -20px rgba(0,0,0,0.6) inset;
}
.tableHead li{
    font-size: 0.8rem;
    line-height: 1.22rem;
    font-weight: 700;
}
.tableBody li{
    font-size:  0.6875rem;
    line-height: 1.03rem;
    font-weight: 400;
}

.settingCardBorder,.grayPositionBorder{
    position:relative;
    overflow: hidden;
    padding: 2px;
    border-radius: 0.5rem;
}
.premuimBorder{
    position:relative;
    overflow: hidden;
    padding: 1px;
    border-radius: 0.8rem;
}
.premuimContainer{
    border-radius: 0.8rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.settingCardBorder::before ,.premuimBorder::before{
content: "";
background-image: conic-gradient(transparent 0deg ,transparent -90deg ,#53acff 250deg,transparent 280deg );
width: 250%;
height: 250%;
top:50%;
left:50%;
transform:translate(-50%,-50%) rotate(180deg);
box-sizing: border-box;
position: absolute;
transition:all 0.5s
}

.settingCardBorder:hover::before,.premuimBorder:hover::before,.grayPositionBorder:hover::before{
transform:translate(-50%,-50%) rotate(0deg);
}

.settingBorderContainer,.grayPositionContainer{
border-radius: 0.5rem;
overflow: hidden;
width: 100%;
height: 100%;
position: relative;
}
@media only screen and (max-width:676px) {
    .LeftBorder h1{
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 700;

    }
    .rightBorder h3,.leftSectionSetting h3,.accountBilling h5 ,.accountBilling p ,.premuimDiv h4{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
    }
    .rightBorder p ,.leftSectionSetting p{
        font-size: 0.625rem;
        line-height: 0.7875rem;
        font-weight: 400;
    }
    .labelColor label{
        font-size:0.75rem;
        line-height: 0.945rem;
        font-weight: 400;
    }
    .avatarTxt p{
        font-size:0.75rem;
        line-height:1.442rem;
        font-weight: 400;
    }
    .settingBtn{
        font-size: 8.75px;
        font-weight: 600;
        line-height: 0.7rem;
        padding: 0.1rem 0.5rem !important;

    }
    .properityInSwitch p{
        font-size:0.75rem;
        line-height: 0.945rem;
        font-weight: 400;
    }
    .txtUnderProperities p{
        font-size:0.75rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
    .premuimDiv h1{
        font-size: 2.5rem;
        line-height: 3.75rem;
        font-weight: 700;
    }
    .premuimDiv h6{
        font-size: 1.44rem;
        line-height: 2.156rem;
        font-weight: 400;
    }
    .rightSecAccount h5{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
    }
    .rightBorder{
        border-bottom: 1px solid #979797 ;
        border-right: 0;
    }
    
 
}
