.privacyHeader h1{
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.privacyHeader p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.privacyContent h4{
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-weight: 700;
}
.privacyContent p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: justify;
}
.privacyBG{

   background:linear-gradient(175deg, rgba(29,36,43,1) 6%, rgba(63, 112, 158, 0.98) 47%, rgba(46,80,112,1) 65%, rgba(29,36,43,1))

}

@media only screen and (max-width: 676px){
    .privacyHeader h1{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .privacyHeader p{
        font-size: 0.625rem;
        line-height: 0.9375rem;
    }
    .privacyContent h4{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .privacyContent p{
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
}