.disclaimerHeader h1{
    font-size: clamp(24px, calc(2.4vw + 0.5rem), 140px);
    line-height: 4.5rem;
    font-weight: 700;
}

.disclaimerHeader p{
    font-size:  clamp(10px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.5rem;
    font-weight: 400;
}
.disclaimerContent h4{
    font-size:clamp(16px, calc(1.8vw + 0.5rem), 140px);
    line-height: 3.75rem;
    font-weight: 700;
}
.disclaimerContent p{
    font-size: clamp(12px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.5rem;
    font-weight: 400;
    text-align: justify;
}
.disclaimerBG{
   background:linear-gradient(175deg, rgba(29,36,43,1) 6%, rgba(63, 112, 158, 0.98) 47%, rgba(46,80,112,1) 65%, rgba(29,36,43,1))
}

@media only screen and (max-width: 676px){
    .disclaimerHeader h1{
        line-height: 2.25rem;
    }
    .disclaimerHeader p{
        line-height: 0.9375rem;
    }
    .disclaimerContent h4{
        line-height: 1.5rem;
    }
    .disclaimerContent p{
        line-height: 1.125rem;
    }
}