section.commingSoon {
    padding: 5%;
    border-top: 1px solid #5D5D5D;
    position: relative;
    background-image: url("../../../assets/PlansBgShadow.png");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;

}

.commingSoon-container {
    max-width: 1400px;
}

.commingSoon-container > p {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    margin-bottom: 4rem;
    width: 70%;
}

.expanding-box{
    padding: 3rem 2rem;
    background-image: url("../../../assets/expandingBg.png");
    background-position: center;
    background-size: cover;
    border-radius: 21px;
}

.expanding-box .item{
    padding-left: 1rem;
    border-left: 2px solid #fff;
}
.expanding-box .item h6{
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
}
.expanding-box .item p{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}


@media only screen and (max-width: 1024px) {
    .commingSoon-container > p {
        font-size: 11px;
        line-height: 16px;
        margin: 1.5rem 0;
        width: 100%;
    }
    .expanding-box .item h6 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    .expanding-box .item p {
        font-family: Poppins;
        font-size: 11px;
        line-height: 16px;
    }
    .expanding-box {
        padding: 2rem 1.5rem;
    }
}


@media only screen and (min-width: 1024px) {

    .commingSoon-container {
        max-width: 1900px;
    }

    .commingSoon-container > p {
        font-family: Poppins;
        font-size: 32px;
    }

    .expanding-box {
        padding: 4rem 2rem
    }

    .expanding-box .item {
        padding-left: 2rem;
    }    

    .expanding-box .item h6 {
        font-size: 50px;
        line-height: 70px;
    }

    .expanding-box .item p{
        font-family: Poppins;
        font-size: 22px;
    }

}