.pageBG{
    background: linear-gradient(0deg, rgba(36,48,58,1) 36%, rgba(32,38,44,1) 49%, rgba(27,28,29,1) 77%);
}
.blogsDivForImg{
    width: 100%;
    background-color:#3B3B3B ;
    border-radius: 1.2rem;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,1) inset;
}
.oneBlogCont h3{
font-size: clamp(12px, calc( 1vw + 0.5rem ) , 70px);
line-height: 2.156rem;
font-weight: 700;
}
.oneBlogCont p{
    font-size: clamp(10px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.5rem;
    font-weight: 400;
}
.bluecolor{
    font-size: clamp(12px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.44rem;
    font-weight: 400;
    color: #53ACFF;
}
.bottomBorder{
    border-bottom: 1px solid #979797 ;
}
.rightBorder{
    border-right: 1px solid #979797;
}

.verticalSeparator{
    border-right: 1px solid #979797;
}
.secDivOnLeft h2{
    font-size: clamp(14px, calc(1.4vw + 0.5rem), 80px);
    line-height: 2.9rem;
    font-weight: 700;
}
.darkerColor{
    background-color: rgb(60, 89, 115);
}
.babyblueDiv{
    border-radius: 0.8rem;
    background-image: linear-gradient(0deg ,rgb(51,106,158) ,57%,rgb(73, 141, 204) 100%);
}
.leftBG{
    border-radius:0 0.8rem 0.8rem 0;
    background-image: linear-gradient(180deg ,rgb(79,165,244) ,57%,rgb(35, 88, 138) 100%);
    height: 100%;
}
.topRight{
    position: absolute;
    top: 8%;
    right: 1.5%;
}
.leftBG h5{
    font-size: clamp(12px, calc( 0.8vw + 0.5rem ) , 70px);
    line-height: 1.5rem;
    font-weight: 700;
}
.coloredTxt h6{
    font-size: clamp(10px, calc( 0.3vw + 0.5rem), 60px);
    font-weight: 400;
    line-height: 1.6rem;
}
.txtspan span{
    font-size: clamp(10px, calc( 0.4vw + 0.5rem), 60px);
    line-height: 1.3125rem;
    font-weight: 400;
}
.blackBGFonts h2{
    font-size: clamp(16px, calc(1.6vw + 0.5rem), 80px);
    line-height: 3.09rem;
    font-weight: 700;
}
.blackBGFonts p{
    font-size: clamp(10px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.5rem;
    font-weight: 400;

}
.divBg{
    background-color: #202020;
    border: 1px solid #979797 ;
    border-radius: 0.5rem;
}

.forGradBG{
    background: linear-gradient(297deg, rgba(31,43,55,1) 0%, rgba(50,86,119,1) 75%);
}
.winnerFont h5{
    font-size: clamp(10px, calc( 0.5vw + 0.5rem), 60px);
    line-height: 1.5rem;
    font-weight: 700;
}
.blueContainer{
    background-color:  #53ACFF;
}
.blueContainer h3{
    font-size:  clamp(20px, calc(1.2vw + 0.5rem), 70px);
    line-height: 2.56rem;
    font-weight: 700;
}

.lastInRight h3{
    font-size:clamp(12px, calc( 0.9vw + 0.5rem ) , 70px);
    font-weight:700 ;
    line-height: 2.156rem;
}
.smImgSize{
    width: 0.788rem;
    height: 0.808rem;
}
.RbottomBorder{
    border-bottom:1px solid #979797 ;
}
.textDiv h6{
    font-size: clamp(12px, calc( 0.5vw + 0.5rem), 60px);
    line-height:1.442rem;
    font-weight: 700;

}
.textDiv p{
    font-size: clamp(12px, calc( 0.5vw + 0.5rem), 60px);
    line-height:1.442rem;
    font-weight: 400;
}

@media only screen and (max-width:676px) {
    .oneBlogCont h3 ,.leftBG h5{
        line-height: 1.125rem;
        font-weight: 700;
    }
    .oneBlogCont p ,.coloredTxt h6 ,.txtspan span{
        line-height: 0.94rem;
        font-weight: 400;
    }
    .secDivOnLeft h2{
        line-height: 1.3125rem;
        font-weight: 700;
    }
    .leftBG{
        border-radius: 0.8rem;
        background-image: linear-gradient(0deg ,rgb(68, 141, 208) 57%, rgb(79,165,244) 100%);
    }
    .topRight{
        width: 72.5px;
        height: 4.5rem;
        position: absolute;
        top: 14%;
        right: -4%;
    }
    .bluecolor{
        line-height:1.442rem;
        font-weight: 400;
        color: #53ACFF;
    }
    .textDiv p, .textDiv h6{
        line-height:1.442rem;
        font-weight: 400;
    }
    .blackBGFonts h2{
        line-height: 1.5rem;
        font-weight: 700;
    }
    .blackBGFonts p{
        line-height: 0.94rem;
        font-weight: 400;
    
    }
    
.verticalSeparator{
    border-right: none
}
.blueContainer h3{
    line-height: 1.9rem;
    font-weight: 700;
}

.RbottomBorder{
    border-bottom: none;
}
.blogsDivForImg{
    width: 100%;
    background-color:#3B3B3B ;
    border-radius: 0.5rem;
    box-shadow:0px 0px 3px 0px rgba(0,0,0,1) inset;
}
.imgSizeInSm{
    width:0.788rem;
    height:0.808rem;
}
}
