.winnerBG{
    background-color: rgb(34, 38, 42);
    border-radius: 0.4rem;
}
.putTop3{
    width: 3.75rem;
    height: 3.4rem;
    position: absolute;
    top: -7%;
    right: -3%;
}
.winnerBG p{
    font-size: clamp(10px, calc( 0.2vw + 0.5rem), 60px);
    line-height: 1rem;
    font-weight: 400;
}