.forBG{
    background-image: url("../../assets/background.svg");
    background-position:center ;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.forbtn{
    border-radius: 0.2rem;
    padding: 0.6rem 0;
    background-color: #53ACFF;
}
.forbtn:hover{
    background: rgb(13,1,1);
    background: linear-gradient(4deg, rgba(13,1,1,0.5) 33%, rgba(83,172,255,0.3) 100%);
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 4rem;
}
.contactWays{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.containContactWays{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.descPart h1, .descPart h5 , .descPart h3 , .descPart h4 , .formContent h3{
    font-weight: 700;
}
.descPart h5 , .descPart p ,.descPart span{
    size:1rem;
    line-height: 1.5rem;
}
.descPart h1{
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 0;
}
.descPart p{
    font-weight: 400;
    margin-bottom: 1.8rem;
}
.forbtn{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.05rem;
}
.descPart h3{
    font-size: 2.06rem;
    line-height: 3.09rem;
    padding-bottom: 1.5rem;
}
.descPart h4{
    font-size:1.4rem ;
    line-height:2.16rem ;
}
.formBGMsg{
    background: rgba(221, 209, 209, 0.521);
    background: linear-gradient(265deg, rgb(40, 62, 80) 20%, rgba(111, 162, 211, 0.6) 100%);
}
.formContent h3{
    font-size: 33;
    line-height: 49.5;
}
